.modal{
    button.close{
        border: none;
    }

    &#modalLogin{
        
        button.login{
            margin-top: 2rem;
        }
    }
    &#modalBooking{
        .modal-dialog{
            min-width: 95%;
        }
        
        

    }

    

}